*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  transition: all 0.3s linear;
  height: 100vh;
}

.activeList{
  margin-left: 10%;
}

@import "./player";
@import "./song";
@import "songList";
@import "./ToggleList";